ElectronicHealthRecordServices/resources/ehrServices.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="ehrServices" targetNamespace="http://www.bfh.ch/ehrServices/" xmlns:bfh="http://www.bfh.ch/ehrServices/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.bfh.ch/ehrServices/">
			<xsd:element name="getLogin">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element maxOccurs="1" minOccurs="1" name="username" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getLoginResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="bfh:User"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:complexType name="User">
				<xsd:sequence>
					<xsd:element name="patientID" type="xsd:string"/>
					<xsd:element name="person" type="bfh:Person"/>
					<xsd:element name="MPI" type="xsd:string"/>
					<xsd:element name="username" type="xsd:string"/>
					<xsd:element name="password" type="xsd:string"/>
					<xsd:element name="language" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="Person">
				<xsd:sequence>
					<xsd:element name="address" type="bfh:Address"/>
					<xsd:element name="title" type="xsd:string"/>
					<xsd:element name="name" type="xsd:string"/>
					<xsd:element name="firstname" type="xsd:string"/>
					<xsd:element name="birthdate" type="xsd:dateTime"/>
					<xsd:element name="gender" type="xsd:string"/>

					<xsd:element name="phone" type="xsd:int"/>
					<xsd:element name="mobile" type="xsd:int"/>
					<xsd:element name="email" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="Address">
				<xsd:sequence>
					<xsd:element name="address" type="xsd:string"/>
					<xsd:element name="postalcode" type="xsd:int"/>
					<xsd:element name="municipality" type="xsd:string"/>
					<xsd:element name="canton" type="xsd:string"/>
					<xsd:element name="country" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="getDocumentById">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="documentID" type="xsd:int"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getDocumentByIdResponse">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="document" type="xsd:base64Binary"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
  </wsdl:types>
  <wsdl:message name="getLoginResponse">
    <wsdl:part name="parameters" element="bfh:getLoginResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getDocumentByIdResponse">
    <wsdl:part name="parameters" element="bfh:getDocumentByIdResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getDocumentByIdRequest">
    <wsdl:part name="parameters" element="bfh:getDocumentById">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getLoginRequest">
    <wsdl:part name="parameters" element="bfh:getLogin">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ehrServices">
    <wsdl:operation name="getLogin">
      <wsdl:input message="bfh:getLoginRequest">
    </wsdl:input>
      <wsdl:output message="bfh:getLoginResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDocumentById">
      <wsdl:input message="bfh:getDocumentByIdRequest">
    </wsdl:input>
      <wsdl:output message="bfh:getDocumentByIdResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ehrServicesSOAP" type="bfh:ehrServices">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getLogin">
      <soap:operation soapAction="http://www.bfh.ch/ehrServices/getLogin"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDocumentById">
      <soap:operation soapAction="http://www.bfh.ch/ehrServices/getLogin"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ehrServices">
    <wsdl:port name="ehrServicesSOAP" binding="bfh:ehrServicesSOAP">
      <soap:address location="http://www.bfh.ch/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
