ElectronicHealthRecordServices/resources/ehrServices.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="ehrServices" targetNamespace="http://www.bfh.ch/ehrServices/" xmlns:bfh="http://www.bfh.ch/ehrServices/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.bfh.ch/ehrServices/">
			<xsd:element name="getLogin">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element maxOccurs="1" minOccurs="1" name="username" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getLoginResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element maxOccurs="1" minOccurs="0" name="patient" type="bfh:Patient"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:complexType name="Patient">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" name="patientID" type="xsd:int">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="person" type="bfh:Person">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="MPI" type="xsd:string">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="username" type="xsd:string">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="password" type="xsd:string">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="language" type="xsd:string">
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="Person">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" name="address" type="bfh:Address">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="title" type="xsd:string">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="name" type="xsd:string">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="firstname" type="xsd:string">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="birthdate" type="xsd:dateTime">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="gender" type="xsd:string">
					</xsd:element>

					<xsd:element maxOccurs="1" minOccurs="0" name="phone" type="xsd:int">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="mobile" type="xsd:int">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="email" type="xsd:string">
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="Address">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="0" name="address" type="xsd:string">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="postalcode" type="xsd:int">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="municipality" type="xsd:string">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="canton" type="xsd:string">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="country" type="xsd:string">
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="getDocumentById">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element maxOccurs="1" minOccurs="1" name="documentID" type="xsd:int">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getDocumentByIdResponse">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element maxOccurs="1" minOccurs="0" name="document" type="xsd:base64Binary">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getAllDocumentsByPatientId">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element maxOccurs="1" minOccurs="1" name="patientID" type="xsd:int">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getAllDocumentsByPatientIdResponse">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element maxOccurs="unbounded" minOccurs="0" name="documentRegisterEntries" type="bfh:DocumentRegisterEntry">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:complexType name="DocumentRegisterEntry">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" name="documentType" type="xsd:string">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="documentRegisterID" type="xsd:int">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="confindentialityLevel" type="xsd:string">
					</xsd:element>

					<xsd:element maxOccurs="1" minOccurs="1" name="documentUploader" type="bfh:OrganisationHP">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="uploadDate" type="xsd:dateTime">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="creationDate" type="xsd:dateTime">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="title" type="xsd:string">
					</xsd:element>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="documentLog" type="bfh:documentLog">
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="getDocumentsByAttributes">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element maxOccurs="1" minOccurs="1" name="patientID" type="xsd:int">
						</xsd:element>
						<xsd:element maxOccurs="1" minOccurs="1" name="attributes" type="bfh:Attributes">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getDocumentsByAttributesResponse">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element maxOccurs="unbounded" minOccurs="0" name="documents" type="bfh:DocumentRegisterEntry">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:complexType name="Attributes">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="0" name="documentTypeID" type="xsd:int">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="confindentialityLevelID" type="xsd:int">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="organisationID" type="xsd:int">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="hpID" type="xsd:int">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="uploadDate" type="xsd:dateTime">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="creationDate" type="xsd:dateTime">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="documentTitle" type="xsd:string">
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="Organisation">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" name="organisationID" type="xsd:int">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="address" type="bfh:Address">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="parent" type="bfh:Organisation">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="organisationType" type="xsd:string">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="name" type="xsd:string">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="url" type="xsd:string">
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="healthCareProfessional">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" name="hcpID" type="xsd:int">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="person" type="bfh:Person">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="qualitativeDignity" type="xsd:string">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="gln" type="xsd:string">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="fmh" type="xsd:string">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="hpc" type="xsd:string">
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="setConfidentiality">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element maxOccurs="1" minOccurs="1" name="documentRegisterID" type="xsd:int">
						</xsd:element>
						<xsd:element maxOccurs="1" minOccurs="1" name="confidentialityID" type="xsd:int">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="setConfidentialityResponse">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element maxOccurs="1" minOccurs="1" name="success" type="xsd:boolean">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getConfidentialityLevels">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element maxOccurs="1" minOccurs="1" name="in" type="xsd:boolean">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getConfidentialityLevelsResponse">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element maxOccurs="unbounded" minOccurs="1" name="confidentialyLevels" type="bfh:ConfidentialyLevel">
						</xsd:element>

					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:complexType name="ConfidentialyLevel">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" name="confidentialyLevelID" type="xsd:int">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="name" type="xsd:string">
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="getHPByPatientAndRole">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element maxOccurs="1" minOccurs="1" name="patientID" type="xsd:int">
						</xsd:element>
						<xsd:element maxOccurs="1" minOccurs="0" name="current" type="xsd:boolean">
						</xsd:element>
						<xsd:element maxOccurs="1" minOccurs="0" name="trust" type="xsd:boolean">
						</xsd:element>
						<xsd:element maxOccurs="1" minOccurs="0" name="potential" type="xsd:boolean">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getHPByPatientAndRoleResponse">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element maxOccurs="unbounded" minOccurs="0" name="healthcareProfessional" type="bfh:OrganisationHP">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:complexType name="OrganisationHP">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" name="healthcareProfessional" type="bfh:healthCareProfessional">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="organisation" type="bfh:Organisation">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="hpType" type="xsd:string">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="zsr" type="xsd:string">
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="getBlacklistByPatientId">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element maxOccurs="1" minOccurs="1" name="patientID" type="xsd:int">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getBlacklistByPatientIdResponse">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element maxOccurs="unbounded" minOccurs="0" name="HealthProfessionals" type="bfh:healthCareProfessional">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="setHpOnBlacklist">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element maxOccurs="1" minOccurs="1" name="patientID" type="xsd:int">
						</xsd:element>
						<xsd:element maxOccurs="1" minOccurs="1" name="healthProfessionalID" type="xsd:int">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="setHpOnBlacklistResponse">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element maxOccurs="1" minOccurs="1" name="success" type="xsd:boolean">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getWhitelistByPatientId">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element maxOccurs="1" minOccurs="1" name="patientID" type="xsd:int">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getWhitelistByPatientIdResponse">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element maxOccurs="unbounded" minOccurs="0" name="patients" type="bfh:Patient">
						</xsd:element>

					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="setWhitelist">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element maxOccurs="1" minOccurs="1" name="giverPatientID" type="xsd:int">
						</xsd:element>
						<xsd:element maxOccurs="1" minOccurs="1" name="receiverPatientID" type="xsd:int">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="setWhitelistResponse">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element maxOccurs="1" minOccurs="1" name="success" type="xsd:boolean">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getEmergencyContactByPatientId">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element maxOccurs="1" minOccurs="1" name="patientID" type="xsd:int">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getEmergencyContactByPatientIdResponse">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element maxOccurs="unbounded" minOccurs="0" name="emergencyContact" type="bfh:Person">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="setEmergencyContact">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element maxOccurs="1" minOccurs="1" name="patientID" type="xsd:int">
						</xsd:element>
						<xsd:element maxOccurs="1" minOccurs="1" name="emergencyContact" type="bfh:Person">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="setEmergencyContactResponse">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element maxOccurs="1" minOccurs="1" name="success" type="xsd:boolean">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:complexType name="documentLog">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" name="accessType" type="xsd:string">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="time" type="xsd:dateTime">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="organisationHp" type="bfh:OrganisationHP"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="getCurrentPermissionMatrixByPatientId">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element maxOccurs="1" minOccurs="1" name="patientID" type="xsd:int">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getCurrentPermissionMatrixByPatientIdResponse">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element maxOccurs="1" minOccurs="0" name="permissionSchema" type="bfh:permissionSchema">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:complexType name="permissionSchema">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" name="careGiver_adminData" type="xsd:boolean">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="careGiver_usefulData" type="xsd:boolean">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="careGiver_medicalData" type="xsd:boolean">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="careGiver_stigmatizingData" type="xsd:boolean">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="careGiverOfTrust_adminData" type="xsd:boolean">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="careGiverOfTrust_usefulData" type="xsd:boolean">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="careGiverOfTrust_medicalData" type="xsd:boolean">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="careGiverOfTrust_stigmatizingData" type="xsd:boolean">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="potentialCareGiver_adminData" type="xsd:boolean">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="potentialCareGiver_usefulData" type="xsd:boolean">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="emergencyCareGiver_adminData" type="xsd:boolean">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="emergencyCareGiver_usefulData" type="xsd:boolean">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="emergencyCareGiver_medicalData" type="xsd:boolean">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="emergencyCareGiver_stigmatizingData" type="xsd:boolean">
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="setPermissionMatrixForPatient">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element maxOccurs="1" minOccurs="1" name="patientID" type="xsd:int">
						</xsd:element>
						<xsd:element maxOccurs="1" minOccurs="1" name="permissionSchema" type="bfh:permissionSchema">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="setPermissionMatrixForPatientResponse">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element maxOccurs="1" minOccurs="1" name="success" type="xsd:boolean">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="setHPRole">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element maxOccurs="1" minOccurs="1" name="patientID" type="xsd:int">
						</xsd:element>

						<xsd:element maxOccurs="1" minOccurs="1" name="healthCareProfessionalID" type="xsd:int">
						</xsd:element>
						<xsd:element maxOccurs="1" minOccurs="1" name="roleID" type="xsd:int">
						</xsd:element>
						<xsd:element maxOccurs="1" minOccurs="1" name="accessTill" type="xsd:dateTime">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="setHPRoleResponse">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element maxOccurs="1" minOccurs="1" name="success" type="xsd:boolean">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getRoles">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element maxOccurs="1" minOccurs="1" name="in" type="xsd:boolean"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getRolesResponse">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element maxOccurs="unbounded" minOccurs="1" name="roles" type="bfh:Role">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:complexType name="Role">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" name="id" type="xsd:int">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="name" type="xsd:string">
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="getSpecialPermissionByPatient">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element maxOccurs="1" minOccurs="1" name="patientID" type="xsd:int">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getSpecialPermissionByPatientResponse">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element maxOccurs="unbounded" minOccurs="1" name="specialPermissions" type="bfh:SpecialPermissions">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:complexType name="SpecialPermissions">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" name="documentRegisterEntry" type="bfh:DocumentRegisterEntry">
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" name="healthCareProfessional" type="bfh:healthCareProfessional">
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="setSpecialPermission">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element maxOccurs="1" minOccurs="1" name="patientID" type="xsd:int">
						</xsd:element>
						<xsd:element maxOccurs="1" minOccurs="1" name="documentID" type="xsd:int">
						</xsd:element>
						<xsd:element maxOccurs="1" minOccurs="1" name="healthProfessionalID" type="xsd:int">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="setSpecialPermissionResponse">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element maxOccurs="1" minOccurs="1" name="out" type="xsd:string">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
  </wsdl:types>
  <wsdl:message name="setSpecialPermissionRequest">
    <wsdl:part name="parameters" element="bfh:setSpecialPermission">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getDocumentsByAttributesRequest">
    <wsdl:part name="parameters" element="bfh:getDocumentsByAttributes">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getDocumentByIdRequest">
    <wsdl:part name="parameters" element="bfh:getDocumentById">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="setEmergencyContactRequest">
    <wsdl:part name="parameters" element="bfh:setEmergencyContact">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="setHpOnBlacklistRequest">
    <wsdl:part name="parameters" element="bfh:setHpOnBlacklist">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getHPByPatientAndRoleRequest">
    <wsdl:part name="parameters" element="bfh:getHPByPatientAndRole">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getWhitelistByPatientIdResponse">
    <wsdl:part name="parameters" element="bfh:getWhitelistByPatientIdResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="setEmergencyContactResponse">
    <wsdl:part name="parameters" element="bfh:setEmergencyContactResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="setSpecialPermissionResponse">
    <wsdl:part name="parameters" element="bfh:setSpecialPermissionResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getRolesRequest">
  </wsdl:message>
  <wsdl:message name="setHPRoleRequest">
    <wsdl:part name="parameters" element="bfh:setHPRole">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="setConfidentialityRequest">
    <wsdl:part name="parameters" element="bfh:setConfidentiality">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getEmergencyContactByPatientIdResponse">
    <wsdl:part name="parameters" element="bfh:getEmergencyContactByPatientIdResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getSpecialPermissionByPatientRequest">
    <wsdl:part name="parameters" element="bfh:getSpecialPermissionByPatient">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getHPByPatientAndRoleResponse">
    <wsdl:part name="parameters" element="bfh:getHPByPatientAndRoleResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getLoginRequest">
    <wsdl:part name="parameters" element="bfh:getLogin">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="setWhitelistResponse">
    <wsdl:part name="parameters" element="bfh:setWhitelistResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getRolesRequest1">
    <wsdl:part name="parameters" element="bfh:getRoles">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getWhitelistByPatientIdRequest">
    <wsdl:part name="parameters" element="bfh:getWhitelistByPatientId">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="setWhitelistRequest">
    <wsdl:part name="parameters" element="bfh:setWhitelist">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getLoginResponse">
    <wsdl:part name="parameters" element="bfh:getLoginResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getSpecialPermissionByPatientResponse">
    <wsdl:part name="parameters" element="bfh:getSpecialPermissionByPatientResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="setHPRoleResponse">
    <wsdl:part name="parameters" element="bfh:setHPRoleResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="setConfidentialityResponse">
    <wsdl:part name="parameters" element="bfh:setConfidentialityResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getRolesResponse">
    <wsdl:part name="parameters" element="bfh:getRolesResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getEmergencyContactByPatientIdRequest">
    <wsdl:part name="parameters" element="bfh:getEmergencyContactByPatientId">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getConfidentialityLevelsRequest">
  </wsdl:message>
  <wsdl:message name="getAllDocumentsByPatientIdResponse">
    <wsdl:part name="parameters" element="bfh:getAllDocumentsByPatientIdResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getConfidentialityLevelsRequest1">
    <wsdl:part name="parameters" element="bfh:getConfidentialityLevels">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getConfidentialityLevelsResponse">
    <wsdl:part name="parameters" element="bfh:getConfidentialityLevelsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCurrentPermissionMatrixByPatientIdResponse">
    <wsdl:part name="parameters" element="bfh:getCurrentPermissionMatrixByPatientIdResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="setPermissionMatrixForPatientResponse">
    <wsdl:part name="parameters" element="bfh:setPermissionMatrixForPatientResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getBlacklistByPatientIdRequest">
    <wsdl:part name="parameters" element="bfh:getBlacklistByPatientId">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getDocumentByIdResponse">
    <wsdl:part name="parameters" element="bfh:getDocumentByIdResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCurrentPermissionMatrixByPatientIdRequest">
    <wsdl:part name="parameters" element="bfh:getCurrentPermissionMatrixByPatientId">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getBlacklistByPatientIdResponse">
    <wsdl:part name="parameters" element="bfh:getBlacklistByPatientIdResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getDocumentsByAttributesResponse">
    <wsdl:part name="parameters" element="bfh:getDocumentsByAttributesResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="setPermissionMatrixForPatientRequest">
    <wsdl:part name="parameters" element="bfh:setPermissionMatrixForPatient">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="setHpOnBlacklistResponse">
    <wsdl:part name="parameters" element="bfh:setHpOnBlacklistResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAllDocumentsByPatientIdRequest">
    <wsdl:part name="parameters" element="bfh:getAllDocumentsByPatientId">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ehrServices">
    <wsdl:operation name="getLogin">
      <wsdl:input message="bfh:getLoginRequest">
    </wsdl:input>
      <wsdl:output message="bfh:getLoginResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDocumentById">
      <wsdl:input message="bfh:getDocumentByIdRequest">
    </wsdl:input>
      <wsdl:output message="bfh:getDocumentByIdResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllDocumentsByPatientId">
      <wsdl:input message="bfh:getAllDocumentsByPatientIdRequest">
    </wsdl:input>
      <wsdl:output message="bfh:getAllDocumentsByPatientIdResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDocumentsByAttributes">
      <wsdl:input message="bfh:getDocumentsByAttributesRequest">
    </wsdl:input>
      <wsdl:output message="bfh:getDocumentsByAttributesResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setConfidentiality">
      <wsdl:input message="bfh:setConfidentialityRequest">
    </wsdl:input>
      <wsdl:output message="bfh:setConfidentialityResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getConfidentialityLevels">
      <wsdl:input message="bfh:getConfidentialityLevelsRequest1">
    </wsdl:input>
      <wsdl:output message="bfh:getConfidentialityLevelsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getHPByPatientAndRole">
      <wsdl:input message="bfh:getHPByPatientAndRoleRequest">
    </wsdl:input>
      <wsdl:output message="bfh:getHPByPatientAndRoleResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBlacklistByPatientId">
      <wsdl:input message="bfh:getBlacklistByPatientIdRequest">
    </wsdl:input>
      <wsdl:output message="bfh:getBlacklistByPatientIdResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setHpOnBlacklist">
      <wsdl:input message="bfh:setHpOnBlacklistRequest">
    </wsdl:input>
      <wsdl:output message="bfh:setHpOnBlacklistResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getWhitelistByPatientId">
      <wsdl:input message="bfh:getWhitelistByPatientIdRequest">
    </wsdl:input>
      <wsdl:output message="bfh:getWhitelistByPatientIdResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setWhitelist">
      <wsdl:input message="bfh:setWhitelistRequest">
    </wsdl:input>
      <wsdl:output message="bfh:setWhitelistResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEmergencyContactByPatientId">
      <wsdl:input message="bfh:getEmergencyContactByPatientIdRequest">
    </wsdl:input>
      <wsdl:output message="bfh:getEmergencyContactByPatientIdResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setEmergencyContact">
      <wsdl:input message="bfh:setEmergencyContactRequest">
    </wsdl:input>
      <wsdl:output message="bfh:setEmergencyContactResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCurrentPermissionMatrixByPatientId">
      <wsdl:input message="bfh:getCurrentPermissionMatrixByPatientIdRequest">
    </wsdl:input>
      <wsdl:output message="bfh:getCurrentPermissionMatrixByPatientIdResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setPermissionMatrixForPatient">
      <wsdl:input message="bfh:setPermissionMatrixForPatientRequest">
    </wsdl:input>
      <wsdl:output message="bfh:setPermissionMatrixForPatientResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setHPRole">
      <wsdl:input message="bfh:setHPRoleRequest">
    </wsdl:input>
      <wsdl:output message="bfh:setHPRoleResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRoles">
      <wsdl:input message="bfh:getRolesRequest1">
    </wsdl:input>
      <wsdl:output message="bfh:getRolesResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSpecialPermissionByPatient">
      <wsdl:input message="bfh:getSpecialPermissionByPatientRequest">
    </wsdl:input>
      <wsdl:output message="bfh:getSpecialPermissionByPatientResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setSpecialPermission">
      <wsdl:input message="bfh:setSpecialPermissionRequest">
    </wsdl:input>
      <wsdl:output message="bfh:setSpecialPermissionResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ehrServicesSOAP" type="bfh:ehrServices">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getLogin">
      <soap:operation soapAction="http://www.bfh.ch/ehrServices/getLogin"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDocumentById">
      <soap:operation soapAction="http://www.bfh.ch/ehrServices/getDocumentById"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllDocumentsByPatientId">
      <soap:operation soapAction="http://www.bfh.ch/ehrServices/getDocumentsByPatientId"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBlacklistByPatientId">
      <soap:operation soapAction="http://www.bfh.ch/ehrServices/getBlacklistByPatientId"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getConfidentialityLevels">
      <soap:operation soapAction="http://www.bfh.ch/ehrServices/getConfidentialityLevels"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCurrentPermissionMatrixByPatientId">
      <soap:operation soapAction="http://www.bfh.ch/ehrServices/getCurrentPermissionMatrixByPatientId"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDocumentsByAttributes">
      <soap:operation soapAction="http://www.bfh.ch/ehrServices/getDocumentsByAttributes"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEmergencyContactByPatientId">
      <soap:operation soapAction="http://www.bfh.ch/ehrServices/getEmergencyContactByPatientId"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getHPByPatientAndRole">
      <soap:operation soapAction="http://www.bfh.ch/ehrServices/getHPByPatientAndRole"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRoles">
      <soap:operation soapAction="http://www.bfh.ch/ehrServices/getRoles"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSpecialPermissionByPatient">
      <soap:operation soapAction="http://www.bfh.ch/ehrServices/getSpecialPermissionByPatient"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getWhitelistByPatientId">
      <soap:operation soapAction="http://www.bfh.ch/ehrServices/getWhitelistByPatientId"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setConfidentiality">
      <soap:operation soapAction="http://www.bfh.ch/ehrServices/setConfidentiality"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setEmergencyContact">
      <soap:operation soapAction="http://www.bfh.ch/ehrServices/setEmergencyContact"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setHpOnBlacklist">
      <soap:operation soapAction="http://www.bfh.ch/ehrServices/setHpOnBlacklist"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setHPRole">
      <soap:operation soapAction="http://www.bfh.ch/ehrServices/setHPRole"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setPermissionMatrixForPatient">
      <soap:operation soapAction="http://www.bfh.ch/ehrServices/setPermissionMatrixForPatient"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setSpecialPermission">
      <soap:operation soapAction="http://www.bfh.ch/ehrServices/setSpecialPermission"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setWhitelist">
      <soap:operation soapAction="http://www.bfh.ch/ehrServices/setWhitelist"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ehrServices">
    <wsdl:port name="ehrServicesSOAP" binding="bfh:ehrServicesSOAP">
      <soap:address location="http://www.bfh.ch/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
