ElectronicHealthRecordServices/ehrServices.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:bfh="http://www.bfh.ch/ehrServices/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ehrServices"
	targetNamespace="http://www.bfh.ch/ehrServices/">
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.bfh.ch/ehrServices/">
			<xsd:element name="getLogin">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="username" type="xsd:string"
							minOccurs="1" maxOccurs="1" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getLoginResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="bfh:Patient" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:complexType name="Patient">
				<xsd:sequence>
					<xsd:element name="patientID" type="xsd:string"></xsd:element>
					<xsd:element name="person" type="bfh:Person"></xsd:element>
					<xsd:element name="MPI" type="xsd:string"></xsd:element>
					<xsd:element name="username" type="xsd:string"></xsd:element>
					<xsd:element name="password" type="xsd:string"></xsd:element>
					<xsd:element name="language" type="xsd:string"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="Person">
				<xsd:sequence>
					<xsd:element name="address" type="bfh:Address"></xsd:element>
					<xsd:element name="title" type="xsd:string"></xsd:element>
					<xsd:element name="name" type="xsd:string"></xsd:element>
					<xsd:element name="firstname" type="xsd:string"></xsd:element>
					<xsd:element name="birthdate" type="xsd:dateTime"></xsd:element>
					<xsd:element name="gender" type="xsd:string"></xsd:element>

					<xsd:element name="phone" type="xsd:int"></xsd:element>
					<xsd:element name="mobile" type="xsd:int"></xsd:element>
					<xsd:element name="email" type="xsd:string"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="Address">
				<xsd:sequence>
					<xsd:element name="address" type="xsd:string"></xsd:element>
					<xsd:element name="postalcode" type="xsd:int"></xsd:element>
					<xsd:element name="municipality" type="xsd:string"></xsd:element>
					<xsd:element name="canton" type="xsd:string"></xsd:element>
					<xsd:element name="country" type="xsd:string"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="getDocumentById">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="documentID" type="xsd:int"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getDocumentByIdResponse">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="document" type="xsd:base64Binary"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getAllDocumentsByPatientId">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="patientID" type="xsd:int"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getAllDocumentsByPatientIdResponse">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="documentRegisterEntries" type="bfh:DocumentRegisterEntry" maxOccurs="unbounded" minOccurs="0"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		
			<xsd:complexType name="DocumentRegisterEntry">
				<xsd:sequence>
					<xsd:element name="documentType"
						type="xsd:string">
					</xsd:element>
					<xsd:element name="documentRegisterID" type="xsd:int"></xsd:element>
					<xsd:element name="confindentialityLevel"
						type="xsd:string">
					</xsd:element>
					<xsd:element name="organisation"
						type="bfh:Organisation">
					</xsd:element>
					<xsd:element name="documentUploader"
						type="bfh:healthCareProfessional">
					</xsd:element>
					<xsd:element name="uploadDate"
						type="xsd:dateTime">
					</xsd:element>
					<xsd:element name="creationDate"
						type="xsd:dateTime">
					</xsd:element>
					<xsd:element name="title" type="xsd:string"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="getDocumentsByAttributes">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="patientID" type="xsd:int"></xsd:element>
						<xsd:element name="attributes"
							type="bfh:Attributes">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getDocumentsByAttributesResponse">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="documents" type="bfh:DocumentRegisterEntry" minOccurs="0" maxOccurs="unbounded"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		
			<xsd:complexType name="Attributes">
				<xsd:sequence>
					<xsd:element name="documentType"
						type="xsd:string">
					</xsd:element>
					<xsd:element name="confindentialityLevel"
						type="xsd:string">
					</xsd:element>
					<xsd:element name="organisationID" type="xsd:int"></xsd:element>
					<xsd:element name="hpcID" type="xsd:int"></xsd:element>
					<xsd:element name="uploadDate"
						type="xsd:dateTime">
					</xsd:element>
					<xsd:element name="creationDate"
						type="xsd:dateTime">
					</xsd:element>
					<xsd:element name="documentTitle" type="xsd:string"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
		
			<xsd:complexType name="Organisation">
				<xsd:sequence>
					<xsd:element name="organisationID" type="xsd:int"></xsd:element>
					<xsd:element name="address" type="bfh:Address"></xsd:element>
					<xsd:element name="parent"
						type="bfh:Organisation">
					</xsd:element>
					<xsd:element name="organisationType"
						type="xsd:string">
					</xsd:element>
					<xsd:element name="name" type="xsd:string"></xsd:element>
					<xsd:element name="url" type="xsd:string"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
		
			<xsd:complexType name="healthCareProfessional">
				<xsd:sequence>
					<xsd:element name="hcpID" type="xsd:int"></xsd:element>
					<xsd:element name="person" type="bfh:Person"></xsd:element>
					<xsd:element name="qualitativeDignity"
						type="xsd:string">
					</xsd:element>
					<xsd:element name="gln" type="xsd:string"></xsd:element>
					<xsd:element name="fmh" type="xsd:string"></xsd:element>
					<xsd:element name="hpc" type="xsd:string"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="setConfidentiality">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="documentRegisterID"
							type="xsd:int">
						</xsd:element>
						<xsd:element name="confidentialityID"
							type="xsd:int">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="setConfidentialityResponse">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="success" type="xsd:boolean"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getConfidentialityLevels">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="in" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getConfidentialityLevelsResponse">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="confidentialyLevels"
							type="bfh:ConfidentialyLevel">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		
			<xsd:complexType name="ConfidentialyLevel">
				<xsd:sequence>
					<xsd:element name="confidentialyLevelID"
						type="xsd:int">
					</xsd:element>
					<xsd:element name="name" type="xsd:string"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="getHPByPatientAndRole">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="patientID"
							type="xsd:int">
						</xsd:element>
						<xsd:element name="current"
							type="xsd:boolean">
						</xsd:element>
						<xsd:element name="trust" type="xsd:boolean">
						</xsd:element>
						<xsd:element name="potential"
							type="xsd:boolean">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getHPByPatientAndRoleResponse">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="healthcareProfessional" type="bfh:OrganisationHP"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		
			<xsd:complexType name="OrganisationHP">
				<xsd:sequence>
					<xsd:element name="healthcareProfessional"
						type="bfh:healthCareProfessional">
					</xsd:element>
					<xsd:element name="organisation"
						type="bfh:Organisation">
					</xsd:element>
					<xsd:element name="hpType" type="xsd:string"></xsd:element>
					<xsd:element name="zsr" type="xsd:string"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="getLoginRequest">
		<wsdl:part element="bfh:getLogin" name="parameters" />
	</wsdl:message>
	<wsdl:message name="getLoginResponse">
		<wsdl:part element="bfh:getLoginResponse" name="parameters" />
	</wsdl:message>
	<wsdl:message name="getDocumentByIdRequest">
		<wsdl:part name="parameters" element="bfh:getDocumentById"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getDocumentByIdResponse">
		<wsdl:part name="parameters" element="bfh:getDocumentByIdResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getAllDocumentsByPatientIdRequest">
		<wsdl:part name="parameters" element="bfh:getAllDocumentsByPatientId"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getAllDocumentsByPatientIdResponse">
		<wsdl:part name="parameters" element="bfh:getAllDocumentsByPatientIdResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getDocumentsByAttributesRequest">
		<wsdl:part name="parameters" element="bfh:getDocumentsByAttributes"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getDocumentsByAttributesResponse">
		<wsdl:part name="parameters" element="bfh:getDocumentsByAttributesResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="setConfidentialityRequest">
		<wsdl:part name="parameters" element="bfh:setConfidentiality"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="setConfidentialityResponse">
		<wsdl:part name="parameters" element="bfh:setConfidentialityResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getConfidentialityLevelsRequest">
	</wsdl:message>
	<wsdl:message name="getConfidentialityLevelsResponse">
		<wsdl:part name="parameters" element="bfh:getConfidentialityLevelsResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getHPByPatientAndRoleRequest">
		<wsdl:part name="parameters" element="bfh:getHPByPatientAndRole"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getHPByPatientAndRoleResponse">
		<wsdl:part name="parameters" element="bfh:getHPByPatientAndRoleResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:portType name="ehrServices">
		<wsdl:operation name="getLogin">
			<wsdl:input message="bfh:getLoginRequest" />
			<wsdl:output message="bfh:getLoginResponse" />
		</wsdl:operation>		<wsdl:operation name="getDocumentById">			<wsdl:input message="bfh:getDocumentByIdRequest"></wsdl:input>			<wsdl:output message="bfh:getDocumentByIdResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getAllDocumentsByPatientId">
			<wsdl:input message="bfh:getAllDocumentsByPatientIdRequest"></wsdl:input>
			<wsdl:output message="bfh:getAllDocumentsByPatientIdResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getDocumentsByAttributes">
			<wsdl:input message="bfh:getDocumentsByAttributesRequest"></wsdl:input>
			<wsdl:output message="bfh:getDocumentsByAttributesResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="setConfidentiality">
			<wsdl:input message="bfh:setConfidentialityRequest"></wsdl:input>
			<wsdl:output message="bfh:setConfidentialityResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getConfidentialityLevels">
			<wsdl:output message="bfh:getConfidentialityLevelsResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getHPByPatientAndRole">
			<wsdl:input message="bfh:getHPByPatientAndRoleRequest"></wsdl:input>
			<wsdl:output message="bfh:getHPByPatientAndRoleResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ehrServicesSOAP" type="bfh:ehrServices">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="getLogin">
			<soap:operation soapAction="http://www.bfh.ch/ehrServices/getLogin" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getDocumentById">
			<soap:operation soapAction="http://www.bfh.ch/ehrServices/getDocumentById" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getAllDocumentsByPatientId">
			<soap:operation soapAction="http://www.bfh.ch/ehrServices/getDocumentsByPatientId" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ehrServices">
		<wsdl:port binding="bfh:ehrServicesSOAP" name="ehrServicesSOAP">
			<soap:address location="http://www.bfh.ch/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
