ElectronicHealthRecordServices/ehrServices.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:bfh="http://www.bfh.ch/ehrServices/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ehrServices"
	targetNamespace="http://www.bfh.ch/ehrServices/">
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.bfh.ch/ehrServices/">
			<xsd:element name="getLogin">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="username" type="xsd:string"
							minOccurs="1" maxOccurs="1" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getLoginResponse">

				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="patient"
							type="bfh:PatientType">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:complexType name="PatientType">
				<xsd:sequence>
					<xsd:element name="patientID" type="xsd:int"
						minOccurs="1" maxOccurs="1">
					</xsd:element>
					<xsd:element name="person" type="bfh:PersonType"
						minOccurs="1" maxOccurs="1">
					</xsd:element>
					<xsd:element name="MPI" type="xsd:string"
						minOccurs="1" maxOccurs="1">
					</xsd:element>
					<xsd:element name="username" type="xsd:string"
						minOccurs="1" maxOccurs="1">
					</xsd:element>
					<xsd:element name="password" type="xsd:string"
						minOccurs="1" maxOccurs="1">
					</xsd:element>
					<xsd:element name="language" type="xsd:string"
						minOccurs="0" maxOccurs="1">
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="PersonType">
				<xsd:sequence>
					<xsd:element name="address" type="bfh:AddressType"
						minOccurs="1" maxOccurs="1">
					</xsd:element>
					<xsd:element name="title" type="xsd:string"
						minOccurs="0" maxOccurs="1">
					</xsd:element>
					<xsd:element name="name" type="xsd:string"
						minOccurs="0" maxOccurs="1">
					</xsd:element>
					<xsd:element name="firstname" type="xsd:string"
						minOccurs="0" maxOccurs="1">
					</xsd:element>
					<xsd:element name="birthdate" type="xsd:dateTime"
						minOccurs="0" maxOccurs="1">
					</xsd:element>
					<xsd:element name="gender" type="xsd:string"
						minOccurs="0" maxOccurs="1">
					</xsd:element>

					<xsd:element name="phone" type="xsd:string"
						minOccurs="0" maxOccurs="1">
					</xsd:element>
					<xsd:element name="mobile" type="xsd:string"
						minOccurs="0" maxOccurs="1">
					</xsd:element>
					<xsd:element name="email" type="xsd:string"
						minOccurs="0" maxOccurs="1">
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="AddressType">
				<xsd:sequence>
					<xsd:element name="address" type="xsd:string"
						minOccurs="0" maxOccurs="1">
					</xsd:element>
					<xsd:element name="postalcode" type="xsd:int"
						minOccurs="0" maxOccurs="1">
					</xsd:element>
					<xsd:element name="municipality" type="xsd:string"
						minOccurs="0" maxOccurs="1">
					</xsd:element>
					<xsd:element name="canton" type="xsd:string"
						minOccurs="0" maxOccurs="1">
					</xsd:element>
					<xsd:element name="country" type="xsd:string"
						minOccurs="0" maxOccurs="1">
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="getDocumentById">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="documentID" type="xsd:int"
							minOccurs="1" maxOccurs="1">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getDocumentByIdResponse">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="document"
							type="xsd:base64Binary" minOccurs="0" maxOccurs="1">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getAllDocumentsByPatientId">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="patientID" type="xsd:int"
							minOccurs="1" maxOccurs="1">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getAllDocumentsByPatientIdResponse">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="documentRegisterEntries"
							type="bfh:DocumentRegisterEntryType" maxOccurs="unbounded"
							minOccurs="0">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:complexType name="DocumentRegisterEntryType">
				<xsd:sequence>
					<xsd:element name="documentType" type="xsd:string"
						minOccurs="1" maxOccurs="1">
					</xsd:element>
					<xsd:element name="documentRegisterID"
						type="xsd:int" minOccurs="1" maxOccurs="1">
					</xsd:element>
					<xsd:element name="confindentialityLevel"
						type="xsd:string" minOccurs="0" maxOccurs="1">
					</xsd:element>

					<xsd:element name="documentUploader"
						type="bfh:OrganisationHPType" minOccurs="1" maxOccurs="1">
					</xsd:element>
					<xsd:element name="uploadDate" type="xsd:dateTime"
						minOccurs="1" maxOccurs="1">
					</xsd:element>
					<xsd:element name="creationDate" type="xsd:dateTime"
						minOccurs="0" maxOccurs="1">
					</xsd:element>
					<xsd:element name="title" type="xsd:string"
						minOccurs="1" maxOccurs="1">
					</xsd:element>
					<xsd:element name="documentLog"
						type="bfh:DocumentLogType" minOccurs="0" maxOccurs="unbounded">
					</xsd:element>
					<xsd:element name="documentRepositoryID" type="xsd:int" minOccurs="1" maxOccurs="1"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="getDocumentsByAttributes">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="patientID" type="xsd:int"
							minOccurs="1" maxOccurs="1">
						</xsd:element>
						<xsd:element name="attributes"
							type="bfh:AttributesType" maxOccurs="1" minOccurs="1">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getDocumentsByAttributesResponse">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="documents"
							type="bfh:DocumentRegisterEntryType" minOccurs="0"
							maxOccurs="unbounded">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:complexType name="AttributesType">
				<xsd:sequence>
					<xsd:element name="documentTypeID" type="xsd:int"
						minOccurs="0" maxOccurs="1">
					</xsd:element>
					<xsd:element name="confindentialityLevelID"
						type="xsd:int" minOccurs="0" maxOccurs="1">
					</xsd:element>
					<xsd:element name="organisationID" type="xsd:int"
						minOccurs="0" maxOccurs="1">
					</xsd:element>
					<xsd:element name="hpID" type="xsd:int"
						minOccurs="0" maxOccurs="1">
					</xsd:element>
					<xsd:element name="uploadDate" type="xsd:dateTime"
						minOccurs="0" maxOccurs="1">
					</xsd:element>
					<xsd:element name="creationDate" type="xsd:dateTime"
						minOccurs="0" maxOccurs="1">
					</xsd:element>
					<xsd:element name="documentTitle" type="xsd:string"
						minOccurs="0" maxOccurs="1">
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="OrganisationType">
				<xsd:sequence>
					<xsd:element name="organisationID" type="xsd:int"
						minOccurs="1" maxOccurs="1">
					</xsd:element>
					<xsd:element name="address" type="bfh:AddressType"
						minOccurs="1" maxOccurs="1">
					</xsd:element>
					<xsd:element name="parent" type="bfh:OrganisationType"
						minOccurs="0" maxOccurs="1">
					</xsd:element>
					<xsd:element name="organisationType"
						type="xsd:string" minOccurs="1" maxOccurs="1">
					</xsd:element>
					<xsd:element name="name" type="xsd:string"
						minOccurs="1" maxOccurs="1">
					</xsd:element>
					<xsd:element name="url" type="xsd:string"
						minOccurs="0" maxOccurs="1">
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="HealthCareProfessionalType">
				<xsd:sequence>
					<xsd:element name="hcpID" type="xsd:int"
						minOccurs="1" maxOccurs="1">
					</xsd:element>
					<xsd:element name="person" type="bfh:PersonType"
						minOccurs="1" maxOccurs="1">
					</xsd:element>
					<xsd:element name="qualitativeDignity"
						type="xsd:string" minOccurs="0" maxOccurs="1">
					</xsd:element>
					<xsd:element name="gln" type="xsd:string"
						minOccurs="0" maxOccurs="1">
					</xsd:element>
					<xsd:element name="fmh" type="xsd:string"
						minOccurs="0" maxOccurs="1">
					</xsd:element>
					<xsd:element name="hpc" type="xsd:string"
						minOccurs="0" maxOccurs="1">
					</xsd:element>
					<xsd:element name="phone" type="xsd:string" minOccurs="0" maxOccurs="1"></xsd:element>
					<xsd:element name="email" type="xsd:string"
						minOccurs="0" maxOccurs="1">
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="setConfidentiality">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="documentRegisterID"
							type="xsd:int" minOccurs="1" maxOccurs="1">
						</xsd:element>
						<xsd:element name="confidentialityID"
							type="xsd:int" minOccurs="1" maxOccurs="1">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="setConfidentialityResponse">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="success" type="xsd:boolean"
							minOccurs="1" maxOccurs="1">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getConfidentialityLevels">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="in" type="xsd:boolean"
							minOccurs="1" maxOccurs="1">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getConfidentialityLevelsResponse">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="confidentialyLevels"
							type="bfh:ConfidentialyLevelType" minOccurs="1"
							maxOccurs="unbounded">
						</xsd:element>

					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:complexType name="ConfidentialyLevelType">
				<xsd:sequence>
					<xsd:element name="confidentialyLevelID"
						type="xsd:int" minOccurs="1" maxOccurs="1">
					</xsd:element>
					<xsd:element name="name" type="xsd:string"
						minOccurs="1" maxOccurs="1">
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="getHPByPatientAndRole">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="patientID" type="xsd:int"
							minOccurs="1" maxOccurs="1">
						</xsd:element>
						<xsd:element name="current" type="xsd:boolean"
							minOccurs="0" maxOccurs="1">
						</xsd:element>
						<xsd:element name="trust" type="xsd:boolean"
							minOccurs="0" maxOccurs="1">
						</xsd:element>
						<xsd:element name="potential" type="xsd:boolean"
							minOccurs="0" maxOccurs="1">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getHPByPatientAndRoleResponse">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="healthcareProfessional"
							type="bfh:OrganisationHPType" minOccurs="0" maxOccurs="unbounded">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:complexType name="OrganisationHPType">
				<xsd:sequence>
					<xsd:element name="healthcareProfessional"
						type="bfh:HealthCareProfessionalType" minOccurs="1" maxOccurs="1">
					</xsd:element>
					<xsd:element name="organisation"
						type="bfh:OrganisationType" minOccurs="1" maxOccurs="1">
					</xsd:element>
					<xsd:element name="hpType" type="xsd:string"
						minOccurs="0" maxOccurs="1">
					</xsd:element>
					<xsd:element name="zsr" type="xsd:string"
						minOccurs="0" maxOccurs="1">
					</xsd:element>
					<xsd:element name="role" type="xsd:string"
						minOccurs="0" maxOccurs="1">
					</xsd:element>

					<xsd:element name="roleID" type="xsd:int"
						minOccurs="0" maxOccurs="1">
					</xsd:element>
					<xsd:element name="accessTill" type="xsd:dateTime"
						minOccurs="0" maxOccurs="1">
					</xsd:element>
					<xsd:element name="organisationHPID" type="xsd:int" minOccurs="1" maxOccurs="1"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="getBlacklistByPatientId">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="patientID" type="xsd:int"
							minOccurs="1" maxOccurs="1">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getBlacklistByPatientIdResponse">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="healthCareProfessionals"
							type="bfh:HealthCareProfessionalType" minOccurs="0"
							maxOccurs="unbounded">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="setHpOnBlacklist">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="patientID" type="xsd:int"
							minOccurs="1" maxOccurs="1">
						</xsd:element>
						<xsd:element name="healthProfessionalID"
							type="xsd:int" minOccurs="1" maxOccurs="1">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="setHpOnBlacklistResponse">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="success" type="xsd:boolean"
							minOccurs="1" maxOccurs="1">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getWhitelistByPatientId">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="patientID" type="xsd:int"
							minOccurs="1" maxOccurs="1">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getWhitelistByPatientIdResponse">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="patients" type="bfh:PatientType"
							minOccurs="0" maxOccurs="unbounded">
						</xsd:element>

					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="setWhitelist">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="giverPatientID"
							type="xsd:int" minOccurs="1" maxOccurs="1">
						</xsd:element>
						<xsd:element name="receiverPatientID"
							type="xsd:int" minOccurs="1" maxOccurs="1">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="setWhitelistResponse">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="success" type="xsd:boolean"
							minOccurs="1" maxOccurs="1">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getEmergencyContactByPatientId">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="patientID" type="xsd:int"
							minOccurs="1" maxOccurs="1">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element
				name="getEmergencyContactByPatientIdResponse">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="emergencyContacts"
							type="bfh:PersonType" minOccurs="0" maxOccurs="unbounded">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="setEmergencyContact">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="patientID"
							type="xsd:int" minOccurs="1" maxOccurs="1">
						</xsd:element>
						<xsd:element name="emergencyContact"
							type="bfh:PersonType" minOccurs="1" maxOccurs="1">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="setEmergencyContactResponse">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="success" type="xsd:boolean"
							minOccurs="1" maxOccurs="1">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:complexType name="DocumentLogType">
				<xsd:sequence>
					<xsd:element name="accessType" type="xsd:string"
						minOccurs="1" maxOccurs="1">
					</xsd:element>
					<xsd:element name="time" type="xsd:dateTime"
						minOccurs="1" maxOccurs="1">
					</xsd:element>
					<xsd:element name="organisationHp" type="bfh:OrganisationHPType" minOccurs="1" maxOccurs="1"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="getCurrentPermissionMatrixByPatientId">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="patientID" type="xsd:int"
							minOccurs="1" maxOccurs="1">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element
				name="getCurrentPermissionMatrixByPatientIdResponse">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="permissionSchema"
							type="bfh:PermissionSchemaType" minOccurs="0" maxOccurs="1">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:complexType name="PermissionSchemaType">
				<xsd:sequence>
					<xsd:element name="careGiver_adminData"
						type="xsd:boolean" minOccurs="1" maxOccurs="1">
					</xsd:element>
					<xsd:element name="careGiver_usefulData"
						type="xsd:boolean" minOccurs="1" maxOccurs="1">
					</xsd:element>
					<xsd:element name="careGiver_medicalData"
						type="xsd:boolean" minOccurs="1" maxOccurs="1">
					</xsd:element>
					<xsd:element name="careGiver_stigmatizingData"
						type="xsd:boolean" minOccurs="1" maxOccurs="1">
					</xsd:element>
					<xsd:element name="careGiverOfTrust_adminData"
						type="xsd:boolean" minOccurs="1" maxOccurs="1">
					</xsd:element>
					<xsd:element name="careGiverOfTrust_usefulData"
						type="xsd:boolean" minOccurs="1" maxOccurs="1">
					</xsd:element>
					<xsd:element name="careGiverOfTrust_medicalData"
						type="xsd:boolean" minOccurs="1" maxOccurs="1">
					</xsd:element>
					<xsd:element
						name="careGiverOfTrust_stigmatizingData" type="xsd:boolean"
						minOccurs="1" maxOccurs="1">
					</xsd:element>
					<xsd:element name="potentialCareGiver_adminData"
						type="xsd:boolean" minOccurs="1" maxOccurs="1">
					</xsd:element>
					<xsd:element name="potentialCareGiver_usefulData"
						type="xsd:boolean" minOccurs="1" maxOccurs="1">
					</xsd:element>
					<xsd:element name="emergencyCareGiver_adminData"
						type="xsd:boolean" minOccurs="1" maxOccurs="1">
					</xsd:element>
					<xsd:element name="emergencyCareGiver_usefulData"
						type="xsd:boolean" minOccurs="1" maxOccurs="1">
					</xsd:element>
					<xsd:element name="emergencyCareGiver_medicalData"
						type="xsd:boolean" minOccurs="1" maxOccurs="1">
					</xsd:element>
					<xsd:element
						name="emergencyCareGiver_stigmatizingData" type="xsd:boolean"
						minOccurs="1" maxOccurs="1">
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="setPermissionMatrixForPatient">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="patientID" type="xsd:int"
							minOccurs="1" maxOccurs="1">
						</xsd:element>
						<xsd:element name="permissionSchema"
							type="bfh:PermissionSchemaType" minOccurs="1" maxOccurs="1">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="setPermissionMatrixForPatientResponse">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="success" type="xsd:boolean"
							minOccurs="1" maxOccurs="1">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="setHPRole">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="patientID" type="xsd:int"
							minOccurs="1" maxOccurs="1">
						</xsd:element>

						<xsd:element name="healthCareProfessionalID"
							type="xsd:int" minOccurs="1" maxOccurs="1">
						</xsd:element>
						<xsd:element name="roleID" type="xsd:int"
							minOccurs="1" maxOccurs="1">
						</xsd:element>
						<xsd:element name="accessTill"
							type="xsd:dateTime" minOccurs="1" maxOccurs="1">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="setHPRoleResponse">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="success" type="xsd:boolean"
							minOccurs="1" maxOccurs="1">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getRoles">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="in" type="xsd:boolean" minOccurs="1" maxOccurs="1"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getRolesResponse">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="roles" type="bfh:RoleType"
							minOccurs="1" maxOccurs="unbounded">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:complexType name="RoleType">
				<xsd:sequence>
					<xsd:element name="id" type="xsd:int" minOccurs="1"
						maxOccurs="1">
					</xsd:element>
					<xsd:element name="name" type="xsd:string"
						minOccurs="1" maxOccurs="1">
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="getSpecialPermissionByPatient">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="patientID" type="xsd:int"
							minOccurs="1" maxOccurs="1">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getSpecialPermissionByPatientResponse">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="specialPermissions"
							type="bfh:SpecialPermissionsType" minOccurs="1"
							maxOccurs="unbounded">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:complexType name="SpecialPermissionsType">
				<xsd:sequence>
					<xsd:element name="documentRegisterEntry"
						type="bfh:DocumentRegisterEntryType" minOccurs="1" maxOccurs="1">
					</xsd:element>
					<xsd:element name="healthCareProfessional"
						type="bfh:HealthCareProfessionalType" minOccurs="1" maxOccurs="1">
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="setSpecialPermission">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="patientID"
							type="xsd:int" minOccurs="1" maxOccurs="1">
						</xsd:element>
						<xsd:element name="documentID" type="xsd:int"
							minOccurs="1" maxOccurs="1">
						</xsd:element>
						<xsd:element name="healthProfessionalID"
							type="xsd:int" minOccurs="1" maxOccurs="1">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="setSpecialPermissionResponse">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="out" type="xsd:string"
							minOccurs="1" maxOccurs="1">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="removeOrganisationHPFromPatient">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="patientID" type="xsd:int" minOccurs="1" maxOccurs="1"></xsd:element>
						<xsd:element name="organisationHPID"
							type="xsd:int" minOccurs="1" maxOccurs="1">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="removeOrganisationHPFromPatientResponse">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="success" type="xsd:boolean" minOccurs="1" maxOccurs="1"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="removeHPFromBlacklist">
            	<xsd:complexType>
            		<xsd:sequence>
            			<xsd:element name="patientID" type="xsd:int" minOccurs="1" maxOccurs="1"></xsd:element>
            			<xsd:element name="hpcID"
            				type="xsd:int" minOccurs="1" maxOccurs="1">
            			</xsd:element>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
            <xsd:element name="removeHPFromBlacklistResponse">
            	<xsd:complexType>
            		<xsd:sequence>
            			<xsd:element name="success" type="xsd:boolean" minOccurs="1" maxOccurs="1"></xsd:element>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
            <xsd:element name="removePatientFromWhitelist">
            	<xsd:complexType>
            		<xsd:sequence>

            			<xsd:element name="patientID" type="xsd:int" minOccurs="1" maxOccurs="1"></xsd:element>
            			<xsd:element name="whitelistPatientID"
            				type="xsd:int" minOccurs="1" maxOccurs="1">
            			</xsd:element>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
            <xsd:element name="removePatientFromWhitelistResponse">
            	<xsd:complexType>
            		<xsd:sequence>

            			<xsd:element name="success" type="xsd:boolean" minOccurs="1" maxOccurs="1"></xsd:element>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
            <xsd:element name="removeEmergencyContact">
            	<xsd:complexType>
            		<xsd:sequence>

            			<xsd:element name="patientID"
            				type="xsd:int" minOccurs="1" maxOccurs="1">
            			</xsd:element>
            			<xsd:element name="personID" type="xsd:int" minOccurs="1" maxOccurs="1"></xsd:element>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
            <xsd:element name="removeEmergencyContactResponse">
            	<xsd:complexType>
            		<xsd:sequence>

            			<xsd:element name="success" type="xsd:boolean" minOccurs="1" maxOccurs="1"></xsd:element>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
            <xsd:element name="setMasterDataForPatient">
            	<xsd:complexType>
            		<xsd:sequence>

            			<xsd:element name="personID" type="xsd:int"
            				minOccurs="1" maxOccurs="1">
            			</xsd:element>
            			<xsd:element name="name" type="xsd:string"
            				minOccurs="1" maxOccurs="1">
            			</xsd:element>
            			<xsd:element name="firstname" type="xsd:string"
            				minOccurs="1" maxOccurs="1">
            			</xsd:element>
            			<xsd:element name="birthdate" type="xsd:date"
            				minOccurs="1" maxOccurs="1">
            			</xsd:element>
            			<xsd:element name="address" type="xsd:string"
            				minOccurs="0" maxOccurs="1">
            			</xsd:element>

            			<xsd:element name="postalcode" type="xsd:int"
            				minOccurs="0" maxOccurs="1">
            			</xsd:element>
            			<xsd:element name="municipality"
            				type="xsd:string" minOccurs="0" maxOccurs="1">
            			</xsd:element>
            			<xsd:element name="canton"
            				type="xsd:string" minOccurs="0" maxOccurs="1">
            			</xsd:element>
            			<xsd:element name="country" type="xsd:string"
            				minOccurs="0" maxOccurs="1">
            			</xsd:element>
            			<xsd:element name="email" type="xsd:string"
            				minOccurs="0" maxOccurs="1">
            			</xsd:element>
            			<xsd:element name="phone" type="xsd:string"
            				minOccurs="0" maxOccurs="1">
            			</xsd:element>
            			<xsd:element name="mobile" type="xsd:string"
            				minOccurs="0" maxOccurs="1">
            			</xsd:element>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
            <xsd:element name="setMasterDataForPatientResponse">
            	<xsd:complexType>
            		<xsd:sequence>

            			<xsd:element name="patient" type="bfh:PatientType" minOccurs="1" maxOccurs="1"></xsd:element>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
            <xsd:element name="getAuthorisedOrgaHPsForDocument">
            	<xsd:complexType>
            		<xsd:sequence>

            			<xsd:element name="documentRegisterID"
            				type="xsd:int" minOccurs="1" maxOccurs="1">
            			</xsd:element>
            			<xsd:element name="patientID"
            				type="xsd:int" minOccurs="1" maxOccurs="1">
            			</xsd:element>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
            <xsd:element name="getAuthorisedOrgaHPsForDocumentResponse">
            	<xsd:complexType>
            		<xsd:sequence>

            			<xsd:element name="organisationHPs" type="bfh:OrganisationHPType" minOccurs="0" maxOccurs="unbounded"></xsd:element>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
            <xsd:element name="getVisibleDocumentsForOrgaHP">
            	<xsd:complexType>
            		<xsd:sequence>

            			<xsd:element name="organisationHPID"
            				type="xsd:int" minOccurs="1" maxOccurs="1">
            			</xsd:element>
            			<xsd:element name="patientID"
            				type="xsd:int" minOccurs="1" maxOccurs="1">
            			</xsd:element>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
            <xsd:element name="getVisibleDocumentsForOrgaHPResponse">
            	<xsd:complexType>
            		<xsd:sequence>

            			<xsd:element name="documents" type="bfh:DocumentRegisterEntryType" minOccurs="0" maxOccurs="unbounded"></xsd:element>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="getLoginRequest">
		<wsdl:part element="bfh:getLogin" name="parameters" />
	</wsdl:message>
	<wsdl:message name="getLoginResponse">
		<wsdl:part element="bfh:getLoginResponse" name="parameters" />
	</wsdl:message>
	<wsdl:message name="getDocumentByIdRequest">
		<wsdl:part name="parameters" element="bfh:getDocumentById"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getDocumentByIdResponse">
		<wsdl:part name="parameters" element="bfh:getDocumentByIdResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getAllDocumentsByPatientIdRequest">
		<wsdl:part name="parameters" element="bfh:getAllDocumentsByPatientId"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getAllDocumentsByPatientIdResponse">
		<wsdl:part name="parameters" element="bfh:getAllDocumentsByPatientIdResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getDocumentsByAttributesRequest">
		<wsdl:part name="parameters" element="bfh:getDocumentsByAttributes"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getDocumentsByAttributesResponse">
		<wsdl:part name="parameters" element="bfh:getDocumentsByAttributesResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="setConfidentialityRequest">
		<wsdl:part name="parameters" element="bfh:setConfidentiality"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="setConfidentialityResponse">
		<wsdl:part name="parameters" element="bfh:setConfidentialityResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getConfidentialityLevelsRequest">
	</wsdl:message>
	<wsdl:message name="getConfidentialityLevelsResponse">
		<wsdl:part name="parameters" element="bfh:getConfidentialityLevelsResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getHPByPatientAndRoleRequest">
		<wsdl:part name="parameters" element="bfh:getHPByPatientAndRole"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getHPByPatientAndRoleResponse">
		<wsdl:part name="parameters" element="bfh:getHPByPatientAndRoleResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getBlacklistByPatientIdRequest">
		<wsdl:part name="parameters" element="bfh:getBlacklistByPatientId"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getBlacklistByPatientIdResponse">
		<wsdl:part name="parameters" element="bfh:getBlacklistByPatientIdResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="setHpOnBlacklistRequest">
		<wsdl:part name="parameters" element="bfh:setHpOnBlacklist"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="setHpOnBlacklistResponse">
		<wsdl:part name="parameters" element="bfh:setHpOnBlacklistResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getWhitelistByPatientIdRequest">
		<wsdl:part name="parameters" element="bfh:getWhitelistByPatientId"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getWhitelistByPatientIdResponse">
		<wsdl:part name="parameters" element="bfh:getWhitelistByPatientIdResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="setWhitelistRequest">
		<wsdl:part name="parameters" element="bfh:setWhitelist"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="setWhitelistResponse">
		<wsdl:part name="parameters" element="bfh:setWhitelistResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getEmergencyContactByPatientIdRequest">
		<wsdl:part name="parameters" element="bfh:getEmergencyContactByPatientId"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getEmergencyContactByPatientIdResponse">
		<wsdl:part name="parameters" element="bfh:getEmergencyContactByPatientIdResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="setEmergencyContactRequest">
		<wsdl:part name="parameters" element="bfh:setEmergencyContact"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="setEmergencyContactResponse">
		<wsdl:part name="parameters" element="bfh:setEmergencyContactResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getCurrentPermissionMatrixByPatientIdRequest">
		<wsdl:part name="parameters" element="bfh:getCurrentPermissionMatrixByPatientId"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getCurrentPermissionMatrixByPatientIdResponse">
		<wsdl:part name="parameters" element="bfh:getCurrentPermissionMatrixByPatientIdResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="setPermissionMatrixForPatientRequest">
		<wsdl:part name="parameters" element="bfh:setPermissionMatrixForPatient"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="setPermissionMatrixForPatientResponse">
		<wsdl:part name="parameters" element="bfh:setPermissionMatrixForPatientResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="setHPRoleRequest">
		<wsdl:part name="parameters" element="bfh:setHPRole"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="setHPRoleResponse">
		<wsdl:part name="parameters" element="bfh:setHPRoleResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getRolesRequest">
	</wsdl:message>
	<wsdl:message name="getRolesResponse">
		<wsdl:part name="parameters" element="bfh:getRolesResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getSpecialPermissionByPatientRequest">
		<wsdl:part name="parameters" element="bfh:getSpecialPermissionByPatient"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getSpecialPermissionByPatientResponse">
		<wsdl:part name="parameters" element="bfh:getSpecialPermissionByPatientResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="setSpecialPermissionRequest">
		<wsdl:part name="parameters" element="bfh:setSpecialPermission"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="setSpecialPermissionResponse">
		<wsdl:part name="parameters" element="bfh:setSpecialPermissionResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getConfidentialityLevelsRequest1">
		<wsdl:part name="parameters" element="bfh:getConfidentialityLevels"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getRolesRequest1">
		<wsdl:part name="parameters" element="bfh:getRoles"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="removeOrganisationHPFromPatientRequest">
		<wsdl:part name="parameters" element="bfh:removeOrganisationHPFromPatient"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="removeOrganisationHPFromPatientResponse">
		<wsdl:part name="parameters" element="bfh:removeOrganisationHPFromPatientResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="removeHPFromBlacklistRequest">
		<wsdl:part name="parameters" element="bfh:removeHPFromBlacklist"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="removeHPFromBlacklistResponse">
		<wsdl:part name="parameters" element="bfh:removeHPFromBlacklistResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="removePatientFromWhitelistRequest">
		<wsdl:part name="parameters" element="bfh:removePatientFromWhitelist"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="removePatientFromWhitelistResponse">
		<wsdl:part name="parameters" element="bfh:removePatientFromWhitelistResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="removeEmergencyContactRequest">
		<wsdl:part name="parameters" element="bfh:removeEmergencyContact"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="removeEmergencyContactResponse">
		<wsdl:part name="parameters" element="bfh:removeEmergencyContactResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="setMasterDataForPatientRequest">
		<wsdl:part name="parameters" element="bfh:setMasterDataForPatient"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="setMasterDataForPatientResponse">
		<wsdl:part name="parameters" element="bfh:setMasterDataForPatientResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getAuthorisedOrgaHPsForDocumentRequest">
		<wsdl:part name="parameters" element="bfh:getAuthorisedOrgaHPsForDocument"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getAuthorisedOrgaHPsForDocumentResponse">
		<wsdl:part name="parameters" element="bfh:getAuthorisedOrgaHPsForDocumentResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getVisibleDocumentsForOrgaHPRequest">
		<wsdl:part name="parameters" element="bfh:getVisibleDocumentsForOrgaHP"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getVisibleDocumentsForOrgaHPResponse">
		<wsdl:part name="parameters" element="bfh:getVisibleDocumentsForOrgaHPResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:portType name="ehrServices">
		<wsdl:operation name="getLogin">
			<wsdl:input message="bfh:getLoginRequest" />
			<wsdl:output message="bfh:getLoginResponse" />
		</wsdl:operation>		<wsdl:operation name="getDocumentById">			<wsdl:input message="bfh:getDocumentByIdRequest"></wsdl:input>			<wsdl:output message="bfh:getDocumentByIdResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getAllDocumentsByPatientId">
			<wsdl:input message="bfh:getAllDocumentsByPatientIdRequest"></wsdl:input>
			<wsdl:output message="bfh:getAllDocumentsByPatientIdResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getDocumentsByAttributes">
			<wsdl:input message="bfh:getDocumentsByAttributesRequest"></wsdl:input>
			<wsdl:output message="bfh:getDocumentsByAttributesResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="setConfidentiality">
			<wsdl:input message="bfh:setConfidentialityRequest"></wsdl:input>
			<wsdl:output message="bfh:setConfidentialityResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getConfidentialityLevels">
            <wsdl:input
            	message="bfh:getConfidentialityLevelsRequest1">
            </wsdl:input>
            <wsdl:output message="bfh:getConfidentialityLevelsResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getHPByPatientAndRole">
			<wsdl:input message="bfh:getHPByPatientAndRoleRequest"></wsdl:input>
			<wsdl:output message="bfh:getHPByPatientAndRoleResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getBlacklistByPatientId">
			<wsdl:input message="bfh:getBlacklistByPatientIdRequest"></wsdl:input>
			<wsdl:output message="bfh:getBlacklistByPatientIdResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="setHpOnBlacklist">
			<wsdl:input message="bfh:setHpOnBlacklistRequest"></wsdl:input>
			<wsdl:output message="bfh:setHpOnBlacklistResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getWhitelistByPatientId">
			<wsdl:input message="bfh:getWhitelistByPatientIdRequest"></wsdl:input>
			<wsdl:output message="bfh:getWhitelistByPatientIdResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="setWhitelist">
			<wsdl:input message="bfh:setWhitelistRequest"></wsdl:input>
			<wsdl:output message="bfh:setWhitelistResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getEmergencyContactByPatientId">
			<wsdl:input message="bfh:getEmergencyContactByPatientIdRequest"></wsdl:input>
			<wsdl:output message="bfh:getEmergencyContactByPatientIdResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="setEmergencyContact">
			<wsdl:input message="bfh:setEmergencyContactRequest"></wsdl:input>
			<wsdl:output message="bfh:setEmergencyContactResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getCurrentPermissionMatrixByPatientId">
			<wsdl:input message="bfh:getCurrentPermissionMatrixByPatientIdRequest"></wsdl:input>
			<wsdl:output message="bfh:getCurrentPermissionMatrixByPatientIdResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="setPermissionMatrixForPatient">
			<wsdl:input message="bfh:setPermissionMatrixForPatientRequest"></wsdl:input>
			<wsdl:output message="bfh:setPermissionMatrixForPatientResponse"></wsdl:output>
		</wsdl:operation>		<wsdl:operation name="setHPRole">			<wsdl:input message="bfh:setHPRoleRequest"></wsdl:input>			<wsdl:output message="bfh:setHPRoleResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getRoles">
            <wsdl:input message="bfh:getRolesRequest1"></wsdl:input>
            <wsdl:output message="bfh:getRolesResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getSpecialPermissionByPatient">
			<wsdl:input message="bfh:getSpecialPermissionByPatientRequest"></wsdl:input>
			<wsdl:output message="bfh:getSpecialPermissionByPatientResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="setSpecialPermission">
			<wsdl:input message="bfh:setSpecialPermissionRequest"></wsdl:input>
			<wsdl:output message="bfh:setSpecialPermissionResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="removeOrganisationHPFromPatient">
			<wsdl:input message="bfh:removeOrganisationHPFromPatientRequest"></wsdl:input>
			<wsdl:output message="bfh:removeOrganisationHPFromPatientResponse"></wsdl:output>
		</wsdl:operation>		<wsdl:operation name="removeHPFromBlacklist">			<wsdl:input message="bfh:removeHPFromBlacklistRequest"></wsdl:input>			<wsdl:output message="bfh:removeHPFromBlacklistResponse"></wsdl:output>
		</wsdl:operation>		<wsdl:operation name="removePatientFromWhitelist">			<wsdl:input message="bfh:removePatientFromWhitelistRequest"></wsdl:input>			<wsdl:output message="bfh:removePatientFromWhitelistResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="removeEmergencyContact">
			<wsdl:input message="bfh:removeEmergencyContactRequest"></wsdl:input>
			<wsdl:output message="bfh:removeEmergencyContactResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="setMasterDataForPatient">
			<wsdl:input message="bfh:setMasterDataForPatientRequest"></wsdl:input>
			<wsdl:output message="bfh:setMasterDataForPatientResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getAuthorisedOrgaHPsForDocument">
			<wsdl:input message="bfh:getAuthorisedOrgaHPsForDocumentRequest"></wsdl:input>
			<wsdl:output message="bfh:getAuthorisedOrgaHPsForDocumentResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getVisibleDocumentsForOrgaHP">
			<wsdl:input message="bfh:getVisibleDocumentsForOrgaHPRequest"></wsdl:input>
			<wsdl:output message="bfh:getVisibleDocumentsForOrgaHPResponse"></wsdl:output>
		</wsdl:operation></wsdl:portType>
		<wsdl:binding name="ehrServicesSOAP" type="bfh:ehrServices">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="getLogin">
			<soap:operation soapAction="http://www.bfh.ch/ehrServices/getLogin" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getDocumentById">
			<soap:operation soapAction="http://www.bfh.ch/ehrServices/getDocumentById" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getAllDocumentsByPatientId">
			<soap:operation soapAction="http://www.bfh.ch/ehrServices/getDocumentsByPatientId" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getBlacklistByPatientId">
			<soap:operation soapAction="http://www.bfh.ch/ehrServices/getBlacklistByPatientId" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getConfidentialityLevels">
			<soap:operation soapAction="http://www.bfh.ch/ehrServices/getConfidentialityLevels" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getCurrentPermissionMatrixByPatientId">
			<soap:operation soapAction="http://www.bfh.ch/ehrServices/getCurrentPermissionMatrixByPatientId" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getDocumentsByAttributes">
			<soap:operation soapAction="http://www.bfh.ch/ehrServices/getDocumentsByAttributes" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getEmergencyContactByPatientId">
			<soap:operation soapAction="http://www.bfh.ch/ehrServices/getEmergencyContactByPatientId" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getHPByPatientAndRole">
			<soap:operation soapAction="http://www.bfh.ch/ehrServices/getHPByPatientAndRole" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getRoles">
			<soap:operation soapAction="http://www.bfh.ch/ehrServices/getRoles" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getSpecialPermissionByPatient">
			<soap:operation soapAction="http://www.bfh.ch/ehrServices/getSpecialPermissionByPatient" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getWhitelistByPatientId">
			<soap:operation soapAction="http://www.bfh.ch/ehrServices/getWhitelistByPatientId" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="setConfidentiality">
			<soap:operation soapAction="http://www.bfh.ch/ehrServices/setConfidentiality" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="setEmergencyContact">
			<soap:operation soapAction="http://www.bfh.ch/ehrServices/setEmergencyContact" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="setHpOnBlacklist">
			<soap:operation soapAction="http://www.bfh.ch/ehrServices/setHpOnBlacklist" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="setHPRole">
			<soap:operation soapAction="http://www.bfh.ch/ehrServices/setHPRole" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="setPermissionMatrixForPatient">
			<soap:operation soapAction="http://www.bfh.ch/ehrServices/setPermissionMatrixForPatient" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="setSpecialPermission">
			<soap:operation soapAction="http://www.bfh.ch/ehrServices/setSpecialPermission" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="setWhitelist">
			<soap:operation soapAction="http://www.bfh.ch/ehrServices/setWhitelist" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="removeOrganisationHPFromPatient">
			<soap:operation soapAction="http://www.bfh.ch/ehrServices/removeOrganisationHPFromPatient" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="removeHPFromBlacklist">
			<soap:operation soapAction="http://www.bfh.ch/ehrServices/removeHPFromBlacklist" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="removePatientFromWhitelist">
			<soap:operation soapAction="http://www.bfh.ch/ehrServices/removePatientFromWhitelist" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="removeEmergencyContact">
			<soap:operation soapAction="http://www.bfh.ch/ehrServices/removeEmergencyContact" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="setMasterDataForPatient">
			<soap:operation soapAction="http://www.bfh.ch/ehrServices/setMasterDataForPatient" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getAuthorisedOrgaHPsForDocument">
			<soap:operation soapAction="http://www.bfh.ch/ehrServices/getAuthorisedOrgaHPsForDocument" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getVisibleDocumentsForOrgaHP">
			<soap:operation soapAction="http://www.bfh.ch/ehrServices/getVisibleDocumentsForOrgaHP" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ehrServices">
		<wsdl:port binding="bfh:ehrServicesSOAP" name="ehrServicesSOAP">
			<soap:address location="http://www.bfh.ch/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
